<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title ">{{ title }}</h4>
        <p class="card-category">{{ subTitle }}</p>
    </div>
    <div class="card-body">


        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <th *ngFor="let r of rows">
                        {{ r.title }}
                    </th>
                </thead>
                <tbody>
                    <ng-container *ngIf="data.length !== 0">
                        <tr *ngFor="let d of data">
                            <td *ngFor="let r of rows">
                                {{ getValueByKey(r.key, d) }}
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="data.length === 0 && wpColRef$">
                        <ng-container *ngIf="(wpColRef$ | async); let state">

                            <tr>
                                <td colspan="99999" *ngIf="state.loading">Loading...</td>
                            </tr>
                            <ng-container *ngIf="!state.loading && state.data.length !== 0">
                                <tr *ngFor="let d of state?.data">
                                    <td *ngFor="let r of rows">
                                        {{ getValueByKey(r.key, d) }}
                                    </td>
                                </tr>
                            </ng-container>
                            <tr>
                                <td colspan="99999" *ngIf="!state.loading && state.data.length === 0">
                                    No Data
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>




    </div>
</div>